In [1]:
import pandas as pd
df = pd.read_csv('runs.csv')
df

,Date,WeekNumber,DayOfWeek,WorkoutType,Distance,Time,AveragePace,Location,Weather,Effort,Notes
0,2025-08-11,1,Monday,Easy Run,1.5,00:15:01,9'57'',"South Barrington, Road",80,3,First run of marathon training. Just tried to ...